.capture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .webcam-container {
    border: 2px solid #000000; /* Black border */
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  video {
    border: 8px solid black;
    margin: -300px 0px 0px 800px;
  }
  .webcam {
    width: 100%;
    border: 8px solid black;
    margin: -300px 0px 0px 800px;
  }
  
  .button {
    background-color: #1e88e5; /* Bluish black color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .capture-button:hover {
    background-color: #005cb2; /* Darker shade on hover */
  }
  